{% extends 'base.html.twig' %}

{% block title %}:){% endblock %}

{% block body %}
    <div class="container text-center mt-5">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
