{% extends 'base.html.twig' %}

{% block title %}collabo.com{% endblock %}

{% block body %}
    <div class="container text-center">
<h1>Aide  Maxime à chasser le peuple élu.</h1>
    <h3>{{ countCamaradesAuCamps }} camarade(s) sont dans le train grâce à vous !</h3>
    <div class="m4">
        <a href="{{ path('sombre') }}">Dénoncer un camarade et aider la patrie</a>
    </div>
        <div class="m4">
            <button onclick="$('#fuhrermodal').modal('show');">Envoyer de l'amour au Führer</button>
        </div>
<div class="example-wrapper">
    <img src="{{ asset('images/Streicher-e1472512251104-1024x640 (1).jpg') }}">
</div>
    </div>
    <div id="fuhrermodal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mon chère Führer ...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="message" style="width: 100%;"></textarea>
                </div>
                <div class="modal-footer">
                    <button onclick="sendMail();" type="button" class="btn btn-primary">Envoyer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function sendMail () {
            $.ajax({
                url: '{{ path('sendEmail') }}',
                data: {
                    'content' : $('#message').val()
                },
                success: function () {
                    alert('lol cool');
                }
            })
        }
    </script>
{% endblock %}
